.gantt-container {
  height: calc(100vh - 50px - 200px);
}

.gantt_grid_head_cell.gantt_grid_head_add {
  display: none;
}
.gantt_add{
  display: none;
}

.gantt_cal_light{
  display: none !important;
}

.gantt_cal_cover{
  display: none;
}

.gantt-container *{
  font-family: 'Montserrat';
}

.gantt_grid_scale .gantt_grid_head_cell {
  color: black;
  font-weight: 900;
  font-size: 14px;
}

.gantt_scale_line:first-child *{
  color: white !important;
  font-weight: 900 !important;
  font-size: 15px;
  background-color: #0076e4 ;
}

.gantt_scale_line:nth-child(2) *{
  color: rgb(255, 255, 255) !important;
  font-weight: 400 !important;
  font-size: 15px;
  background-color: #89c6ff ;
}