
.overviewContainer{
    max-height: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin-top: 20px;
}

.halfdonutRisk{
    margin-top: -100px;
    margin-left: -4px;
}

.metricHalfDonutContainer canvas{
    /* padding:30px; */
    height: 220px !important;
    width: 220px !important;
    margin: auto;
    margin-top: -10px;
    height: 350px;
}