.infoBox.project {
  height: 300px;
}

.metricDonutContainer canvas {
  /* padding:30px; */
  margin: 10px;
  height: 220px !important;
  width: 220px !important;
  margin: auto;
  margin-top: -5px;
  height: 350px;
}

.metricDonutContainer.smaller canvas {
  height: 210px !important;
  width: 210px !important;
}

.metricDonutContainer.smaller1 canvas {
  height: 205px !important;
  width: 205px !important;
}

.donutText {
  font-family: "Montserrat";
  width: 100%;
  text-align: center;
  margin-top: -150px;
  z-index: 10;
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  margin-left: -4px;
}

.donutText.risk {
  margin-top: -160px;
}

.donutText p {
  width: 100%;
  text-align: center;
  margin-left: -10px;
}

.project .metricTitle {
  text-align: center;
  font-size: 20px;
}

.featureViewTasksButton {
  background-color: #0069cc;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 4px;
}

.featureViewTasksButton:hover {
  background-color: #032f58;
  transition: 0.8s;
}

.progressNumber.feature {
  width: 26px;
  height: 26px;
}

.featureEditButton {
  background-color: #cccccc;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 4px;
  width: 50px;
}

.featureEditButton:hover {
  background-color: #929292;
  transition: 0.8s;
}

.featureDeleteTasksButton {
  background-color: #d10404;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 4px;
  width: 50px;
}

.featureDeleteTasksButton:hover {
  background-color: #8d0000;
  transition: 0.8s;
}

.projectFilterInput.addFeatureButton {
  background-color: #0069cc;
  color: white;
}

.projectFilterInput.addFeatureButton {
  background-color: #0069cc;
  color: white;
}

.projectFilterInput.viewProject {
  margin-top: -10px;
}

.projectDashboardProfileName {
  position: absolute;
  left: 110px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: bold;
  margin-top: 10px;
}

.projectDashboardProfile {
  padding: 0px 5px;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 4px #130b0b93;
  min-height: 200px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 30px;
  z-index: 10;
}

.projectDashboardProfilePic img {
  width: 80px;
  height: 80px;
}

.projectDashboardSkillName {
  background-color: #cac9c9;
  padding: 3px;
  border-radius: 10px;
  width: fit-content;
  font-family: "Montserrat";
  display: inline-flex;
  margin: 2px;
  margin-top: 10px;
}

.projectDashboardSkill {
  padding: 3px;
  width: fit-content;
  font-family: "Montserrat";
  display: inline-flex;
  margin: 2px;
  font-weight: 900;
}

.metricTitle2 {
  border-bottom: 2px solid #0069cc;
}

.metricTitle {
  border-bottom: 2px solid #0069cc;
  margin-bottom: 15px;
}
.projectTitleId {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: bold;
}

.projectDashboardSkillMatchTitle {
  padding: 3px;
  width: fit-content;
  font-family: "Montserrat";
  margin: 2px;
  font-weight: 900;
}

.semicircle-container svg {
  margin: auto;
  display: block;
  padding-bottom: 10px;
  top: -10px;
}
.semicircle-container circle {
  width: 30;
}
.projectDashboardSkillScore {
  display: inline;
  margin-left: 12px;
  background-color: #d60505;
  color: white;
  font-weight: 900;
  padding: 5px;
  border-radius: 5px;
}

.projectDashboardBio {
  display: inline;
}

.projectDashboardBold {
  font-weight: 900;
}

.defineDependenciesBox {
  width: 95%;
  grid-column-start: 2;
  grid-column-end: 5;
}

.featureDeleteTasksButtonDiv {
  position: relative;
  width: 100%;
}

.featureDeleteTasksButton.removeUser {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 35px !important;
  width: 90px !important;
  padding-bottom: 20px !important;
}

/* .ganntChartBox{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    height: 500px;
    background-color: white;
    box-shadow: 2px 2px 10px #130b0b93;
    width: 98%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 15px;

} */

@media (min-width: 1350px) {
  .ganttChart {
    width: 84% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
  }
}

.ganttChart {
  width: 80%;
}

.chart-controls {
  display: inline-block;
  width: 50vw;
  position: absolute;
  right: 0px;
  margin-top: -10px;
}
.button-cont > button {
  display: inline-block;
  font-size: 15px;
}
.chart-controls > p {
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  right: 205px;
  margin-top: 10px;
}

.button-cont {
  display: inline;
  position: absolute;
  right: 20px;
}

.metricTitle2 > p {
  display: inline;
}

/* svg.gantt{
    width: 100% !important;
} */

.gantt-container {
  overflow: hidden;
  margin: auto;
}

.infoBox2.ganttChart {
  width: 98%;
  margin-bottom: 100px;
}

@media (min-width: 1350px) {
  .infoBox2.ganttChart {
    width: 96% !important;
  }
}

.ganttContainer {
  height: 100%;
  width: 68vw;
}

@media (min-width: 1350px) {
  .ganttContainer {
    height: 100%;
    width: 80vw;
  }
}

.ganttContainer > div > div {
  overflow: unset !important;
  width: 105%;
}


@media (min-width: 1350px) {
  .ganttContainer > div > div {
    overflow: unset !important;
    width: 98%;
  }
}

.gantt-container .popup-wrapper {
  width: 200px !important;
  padding: 0 5px !important;
}

.gantt {
  pointer-events: none;
}

.gantt .bar {
  fill: #3bdff5 !important;
}
.gantt .bar-progress {
  fill: #a3a2ff !important;
}

.gantt .bar-label {
  fill: rgb(0, 0, 0) !important;
  font-weight: 700 !important;
}

.gantt .arrow {
  stroke: royalblue !important;
  stroke-width: 2.8px !important;
}

.gantt .tick {
  stroke: #003cff;
}

.gantt_data_area{
    overflow-x: scroll !important;
}
.gantt_layout_cell.gantt_ver_scroll {
    overflow-y: scroll;
}




.gantt-container{
    height:400px !important;
}
/* .gantt{
    width: 100% !important;
} */

/* .fade-enter{
    overflow-y: hidden;
    max-height: 0;
    opacity: 0;
  }
  
  .fade-enter-active{
    opacity: 1;
    transition: opacity 5s ease-in;
  }

  .fade-exit{
    opacity: 1;
  }
  .fade-exit-active{
    opacity: 0;
    transition: opacity 5s ease-in;
  }

  .newRows {
    padding: 0;
    height: inherit;
    display: block;
    -webkit-animation: animate 0.5s ease-in;  
    animation: animate 0.5s ease-in;
  }

.feature tr{
    margin: 0px !important;
}

@-webkit-keyframes animate {
    from {
      opacity: 0;
      width: 100%; 
      height: 0;
    }
    to {    
      opacity: 1;
      width: 100%; 
      height: inherit;
    } 
  }
  @keyframes animate {
    from {
      opacity: 0;
      width: 100%; 
      height: 0px;
    }
    to {
      opacity: 1;
      width: 100%; 
      height: inherit;
    } 
  } */
