body {
  background-image: url("loginBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .login-container, .signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
  
  .form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  }
  
  .form h1 {
  margin-bottom: 20px;
  }
  
  .form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 0;
  }
  
  .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }
  
  .error {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  }
  
  .submit-button {
  background-color: #5873ca;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  }

  .submit-button:hover{
    background-color: #4c66bd;
  }

  .signupLabel{
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
  }

  .resetLabel{
    text-align: right !important; 
    float: right;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 0px;

  }

  .caption{
    text-align: left !important;
    float: left !important;
    display: block;
    font-size: 15px;
    font-weight: bold;
  }

  h1{
    color:#4c66bd;
    font-weight: bolder;
  }

