.feedbackFormQuestion{
    grid-column: span 4;
    width: 90%;
    margin: auto;
    font-family: 'Montserrat';
    margin-bottom: -30px;
    margin-top: 30px;
}


.feedbackFormDiv {
    display: contents;
    margin-top: 20px;
}

.feedbackFormSlider{
    width: 80% !important;
    margin: auto;
    margin-top: 40px;
    margin-left: 80px;
}

.feedbackHeading{
    margin-left: 40px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: -20px;
}

.css-1jw8wqg-MuiSlider-markLabel{
    font-family: 'Montserrat' !important;
    font-size: 15px !important;
}

.css-zs0a58-MuiSlider-markLabel{
    font-family: 'Montserrat' !important;
    font-size: 15px !important;
}