.taskPriority{
  font-weight: 500;
}

.red{
  font-weight: 800;
  color: red;
}

.yellow{
  font-weight: 800;
  color: rgb(231, 177, 26);
}

.green{
  font-weight: 800;
  color: green;
}

.featureCompleteTasksButton{
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 4px;
  background-color: green;
}

.surveyText{
  font-family: "Montserrat";
  width: 100%;
  text-align: center;
  margin-top: -30px;
  z-index: 10;
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  margin-left: -4px;
}

.daysLeftTitle{
  font-size: 50px !important;
  margin-top: 30px;
}

.daysLeftDesc{
  font-size: 20px !important;
}

.projectFilterInput.feedbackForm{
  font-size: 20px !important;
  background-color: #0069cc;
  color: white;
  padding:10px 10px
}

