.splitScreen{
    display: flex;
    flex-direction: row;
    height:100%;
}

.leftPane{
    width: 220px;
}

.rightPane{
    position: relative;
    width: 100%;
    padding-left: 30px;
}

.titleBar{
    width: 100%;
    background-color: #5873ca;
    height: 50px;
    margin-left: -1px;
    position: fixed;
    z-index: 11;
}

.accountInitialsCircle{
    position: fixed;
    right: 0px;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    z-index: 3;
    background-color: rgb(192, 192, 192);
    margin-top: 8px;
    margin-right: 20px;
    border: none;
}

.accountInitials{
    font-family: 'Montserrat';
    z-index: 3;
    margin: auto;
    margin-top: 2px;
    margin-left: 1px;
    font-weight: 800;
}

.uploadImageButton{
    color:#5873ca;
    position: absolute;
}

.uploadImageLabel{
    position: relative;
    top: 100px;
    left: -30px;
}

.editProfileSkills{
    width: 110%;
    grid-column-start: 2;
    grid-column-end: 5;
    left: -40px;
}


.skillInputField .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-16t7a0e-MuiInputBase-root-MuiOutlinedInput-root {
    width:100%
}

.skillInputField .MuiFormControl-root.MuiTextField-root.skillInputField.css-bbi62c-MuiFormControl-root-MuiTextField-root {
    position: absolute;
    left: 100px;
}

.skillIExperienceInputBox{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    height: 100px;
    width: 98%;
    border-radius: 20px;
    margin-top: 15px;    
}

/* .skillInputField{
    width:300px;
} */

/* .skillInputField input{
    width: 100%;
} */

.addProfileModal .modal.show .modal-dialog {
    margin-top: -100px !important;
}

