/* Guide */
.guide {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(192, 192, 192, 0.8);
  }
  
  .guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #000;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Image container */
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    max-width: 90%;
    height: auto;
  }
  
  .image-caption {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Navigation buttons */
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  
  .prev,
  .next {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  @media (max-width: 480px) {
    .prev,
    .next {
      font-size: 20px;
    }
  }
  