.sideBar{
    height: 100vh;
    max-width: 70px;
    position: fixed;
    box-shadow: 10;
    
}
.css-dip3t8{
    background-color: #424758 !important;
}

.css-16jkw2k:hover{
    transition: 17s;
}

.css-16jkw2k{
    width:60px;
}

.ps-menu-button{
    width: 220px;
    margin: auto;
    color: white;
    border-radius: 10px;
    text-align: left;
}


.css-wx7wi4{
    margin: unset !important;
    padding: unset !important;
}

.css-vj11vy .css-ewdv3l{
    height:100vh;
    position: relative;
}

.css-16jkw2k >.ps-menu-button:hover {
    background-color: #5873ca !important;
    transition: 0.5s;
}


.welcomeMessage{
    padding-top: 10px;
    font-size:20px;
    color: white;
    font-family: 'trebuchet ms';
    text-align: center;
    font-style: bold;
    padding-bottom: 10px;
    background: 
    linear-gradient(to right, transparent 20%, #2b244e 20%, #2b244e 80%, transparent 80%) 0 100% / 100% 2px no-repeat, 
    #424758
}

.menuItem{
    color: white;
    font-family: 'trebuchet ms';
}

.bottomItem{
    position: absolute !important;
    bottom: 0;
    left: 0;
    background-color: #5873ca !important;
    width: 200px !important;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}
.bottomItem>.ps-menu-button{
    width: 200px !important;
}
.bottomItem>.ps-menu-button:hover{
    width: 200px !important;
    transition: 0.6s;
    background-color: #2b244e !important;
}

.profilePic{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    margin: auto;
}

.profilePicContainer{
    width:100%;
    padding-top: 20px;
    position: relative;
    align-items: center;
    
}