.bugBox{
    padding: 20px 20px;
    height: 90%;
    width: 95%;
    background-color: white;
    box-shadow: 2px 2px 20px #130b0b93;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    font: 'Montserrat';
    padding-bottom: 50px;
}

.bugBoxTitle{
    font-family: 'Montserrat';
    font-weight: 1000;
    font-size: 20px;
    display: inline-block;
}

.bugAddBug{
    display: inline-block;
}

.bugAddBugButton{
    padding: 5px 20px;
    background-color: #f50000;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat';
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left: 10px;
}

.bugAddBugButton:hover{
    color: white;
    transition: 0.3s;
    background-color: #a10404;
}

.bugFormClose{
    position: absolute;
    right: 20px;
    top: 25px;
}

.bugAddButton{
    margin-top: 20px;
    position: relative;
    float: right;
    
}

.bugCancelButton{
    margin-top: 20px;
    position: relative;
    float: right;
    color: white;
    background-color: #be0404;
    margin-right: 10px;
}

.bugCancelButton:hover{
    color: white;
    transition: 0.5s;
    background-color: #8a0404;
}

.bugModal{
    position: absolute;
    margin-top: 0px;
    padding-top: 100px;
}

.bugFormBody{
    margin-top: 100px;
}

.featureProgress{
    height:300px;
    width:100%;
    background-color: #5873ca;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px #130b0b93;
}
.featureProgress .progressNumber.feature{
    position: relative;
    background-color: #fdfdfd;
    height: 14px;
    width: 14px;
    margin-top: -4px;
}

.featureProgress .progressNumber.feature{
    animation-name: movedot;
    animation-duration: 2s;
}

.featureProgress .progress-bar{
    animation-duration: 2s;
    animation-name: movebar;
}

.featureProgressTitle{
    width: 100%;
    font-family: 'Montserrat';
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 25px;
    color: white;
}

.progressAddTaskButton{
    display: block;
    margin: auto;
    width:150px;
    height:50px;
    background-color: rgb(130, 160, 187);
    color: white;
    font-family: 'Montserrat';
    border: none;
    border-radius: 5px;
    align-self: center;
    
}

.progressAddTaskButtonContainer{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.featureProgress .progressDisplayContainer .progress{
    width:100% !important;
    height: 2px !important;
    background:black;
    margin-bottom: 80px !important;
    margin-left: 0px !important;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#9ba5adcb), to(#2191ec4f));
    /* background: linear-gradient(0deg, rgba(184,178,178,0.5690651260504201) 0%, rgba(184,178,178,1) 49%, rgba(184,178,178,0.6811099439775911) 100%); */
}
.featureProgress .progressDisplayContainer .progress .progress-bar{
    /* background: rgb(235,240,229); */
    background-color: #ffffff !important;
}



.featureProgress .progressText{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: -40px;
    font-weight: 500;
    color: white;
}

.featureProgress .progressDisplayContainer{
    width: 95% !important;
    margin: auto !important;
}