.userContainer{
    width: 99%;
    min-height: 180px;
    height: auto;
    overflow: hidden;
    border: 2px solid #d0cfd4;
    box-shadow: 0px 0px 10px #d0cfd4;
    border-radius: 10px;
    position: relative;
    margin: auto;
    padding: 10px 10px;
    margin-bottom: 40px;
    padding-bottom: 30px;

}

.userTitle{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    padding-top: 15px;
    display: inline-block;
    padding-left: 10px;
}

.button-wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* other styles ... */
  }
  

.spacer{
    margin: 50px;
    margin-top: 80px;
}

.removeTeamMember {
	width: 40px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 35px !important;
    padding-bottom: 20px !important;
    }

.addTeamMember {
    width: 40px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: green;
    height: 35px !important;
    padding-bottom: 20px !important;
    }

.addTeamMember:hover {
    background-color: #4CAF50;
    }

.confirmButton{
    margin-top: 20px;
    position: relative;
    float: right;
    color: white;
    background-color: green;
    margin-right: 10px;
}

.confirmButton:hover{
    color: white;
    transition: 0.5s;
    background-color: darkgreen;
}

/* p{
    text-align: left;
    padding:10px;
    margin: 10px;
} */